body {
  background-color: black;
  padding: 20px;
}

header {
  border: solid 2px white;
  padding-bottom: 55px;
  padding-left: 30px;
  padding-top: 55px;
  padding-right: 30px;
  margin-bottom: 20px;
}

h1 {
  color: white;
  text-align: center;
}

h3 {
  color: black;
}

p {
  color: white;
}

div {
  background: #00fca6;
  padding: 35px 30px 30px 50px;
  margin-bottom: 20px;
}

div p {
  color: black;
}

.drone {
  background: white;
}