body {
  background-color: black;
  padding: 20px;
}

header {
  border: solid 2px white;
  padding-bottom: 55px;
  padding-left: 30px;
  padding-top: 55px;
  padding-right: 30px;
  margin-bottom: 20px;
  background-image: url(../img/background-image.jpg);
}

h1 {
  color: white;
  text-align: center;
}

div h1 {
  color: black;
}

article h1 {
  color: black;
}

p {
  color: white;
}

div {
  background: #00fca6;
  padding: 35px 45px 30px 50px;
  margin-bottom: 20px;
}

div p {
  color: black;
}

.drone {
  background: white;
  padding: 35px 45px 30px 50px;
  margin-bottom: 20px;
}

.avant {
  background: white;
  padding: 35px 45px 30px 50px;
}

.drone p {
  color: black;
}

.avant p {
  color: black;
}